    <!-- Banner -->
      <div class="banner text-center" style="background-image: url('http://unsplash.it/1000/300')">
        <div class="bg-filter"></div>
        <div class="banner-content">
          <div class="text-shadow">
            <h1>Startup Tools</h1>
            <h3>Very cool stuff…</h3>
          </div>
          <%= link_to "Get it", "#", class: "btn btn-primary btn-lg"%>
        </div>
      </div>

    <!-- Features -->

    <div class="padded">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="feature">
              <h4><%= image_tag "chat.png" %>Discuss best tools</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem odio quod architecto. Vitae enim sapiente minus, recusandae, alias, quaerat aspernatur nulla id sint itaque ratione, labore nihil magni quam amet.
              </p>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="feature">
              <h4><%= image_tag "mobile.png"%>Always in sync</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem odio quod architecto. Vitae enim sapiente minus, recusandae, alias, quaerat aspernatur nulla id sint itaque ratione, labore nihil magni quam amet.
              </p>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="feature">
              <h4><%= image_tag "search.png"%>Powerful search</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem odio quod architecto. Vitae enim sapiente minus, recusandae, alias, quaerat aspernatur nulla id sint itaque ratione, labore nihil magni quam amet.
              </p>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="feature">
              <h4><%= image_tag "heart.png"%>Share the love</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem odio quod architecto. Vitae enim sapiente minus, recusandae, alias, quaerat aspernatur nulla id sint itaque ratione, labore nihil magni quam amet.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Cards -->

    <div class="padded">
      <h2 class="text-center">Most popular</h2>
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <div class="card" style="background-image:url('http://unsplash.it/300/200/?image=10')">
              <%= link_to "", "#", class: "card-link" %>
              <h3 class="card-category">Popular</h3>
              <%= image_tag "http://placehold.it/30x30.jpg", class: "card-user-img img-circle" %>
              <div class="card-infos">
                <h2>Trello</h2>
                <p>Very cool</p>
              </div>
            </div>
          </div>

           <div class="col-xs-12 col-sm-4">
            <div class="card" style="background-image:url('http://unsplash.it/300/200/?image=0')">
              <%= link_to "", "#", class: "card-link" %>
              <h3 class="card-category">Popular</h3>
              <%= image_tag "http://placehold.it/30x30.jpg", class: "card-user-img img-circle" %>
              <div class="card-infos">
                <h2>Trello</h2>
                <p>Very cool</p>
              </div>
            </div>
          </div>

           <div class="col-xs-12 col-sm-4">
            <div class="card" style="background-image:url('http://unsplash.it/300/200/?image=200')">
              <%= link_to "", "#", class: "card-link" %>
              <h3 class="card-category">Popular</h3>
              <%= image_tag "http://placehold.it/30x30.jpg", class: "card-user-img img-circle" %>
              <div class="card-infos">
                <h2>Trello</h2>
                <p>Very cool</p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <!-- Newsletter -->

    <%= partial "newsletter" %>
